* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.main {
  display: flex;
  align-items: center;
  column-gap: 33px;
}

a {
  text-decoration: none;
  color: #a8a9b1;
}

ul {
  list-style: none;
}

.main ul a {
  font-size: 12px;
  line-height: 15px;
  color: #a8a9b1;
  letter-spacing: 0.97;
}

button {
  align-items: center;
  background-color: #66d2cf;
  border: none;
  color: #fff;
  padding: 20px 15px 20px 16px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.hard {
  align-items: center;
  justify-content: space-between;
  background-image: url(../img.html/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 117px 702px 116px 85px;
  border-radius: 10px;
}

.menu h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #fefcf7;
}

.menu p {
  font-size: 18px;
  line-height: 28px;
  color: #9597a5;
  width: 445px;
  margin: 25px 0 36px 0;
}

.styleimg {
  width: 20px;
}

.main i {
  display: none;
  cursor: pointer;
}

.box-container {
  width: 1111px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 100px 24px 30px 24px;
  margin: 0 auto;
}

.box {
  text-align: center;
}

.box h1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding: 71px 0 24px 0;
}

.box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media screen and (max-width: 410px) {
  .main a {
    display: none;
  }
  .main i {
    display: block;
    margin-left: 180px;
    margin-top: 10px;
    cursor: pointer;
  }
  .container {
    max-width: 365px;
    margin: 10px auto;
    align-items: center;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  button {
    align-items: center;
    background-color: #66d2cf;
    border: none;
    color: #fff;
    padding: 20px 15px 20px 16px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
  }
  .hard {
    align-items: center;
    text-align: center;
    background-image: url(../img.html/2222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 28px 100px 24px;
    border-radius: 10px;
  }
  .menu h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    color: #fefcf7;
  }
  .menu p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #9597a5;
    width: 279px;
    margin: 25px 0 36px 0;
  }
  .navigation,
  .img {
    width: 163px;
  }
  .container {
    gap: 10px;
    margin: 0 auto;
  }
  .box-container {
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 48px 48px 48px;
    margin-left: 1px;
  }
  .box {
    text-align: center;
    margin-top: 80px;
  }
  .box h1 {
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 24px 59px 16px 61px;
  }
  .box p {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #333d4b;
  }
}

/* @media screen and (max-width: 880px) {
    .container {
        max-width: 850px;
        margin: 10px auto;
    }
    .navigation {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .main li {
        max-width: 570px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.92;
        margin-left: 150px;
    }
    button {
        align-items: center;
        background-color: #66d2cf;
        border: none;
        color: #fff;
        padding: 20px 15px 20px 16px;
        border-radius: 12px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
    }
    .hard {
        align-items: center;
        background-image: url(../img.html/3434.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 104px 302px 104px 58px;
        border-radius: 10px;
    }
    .menu h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        color: #fefcf7;
    }
    .menu p {
        align-items: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #9597a5;
        width: 279px;
        margin: 25px 0 36px 0;
    }
    .navigation,
    .img {
        width: 236px;
    }
    .container {
        gap: 10px;
        margin: 0 auto;
    }
    .box-container {
        width: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 58px 58px 48px 48px;
        margin-left: 50px;
    }
    .box {
        display: flex;
        margin-top: 80px;
    }
    .box h1 {
        font-weight: 900;
        font-size: 32px;
        line-height: 32px;
        padding: 24px 100px 16px 61px;
    }
    .box p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #333d4b;
    }
} */
